<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated PayementAPI -->
      <package
            uri="http:///payementapi.ecore"
            class="payementapi.PayementapiPackage"
            genModel="src/connectDataBase/PayementAPI.genmodel"/>
   </extension>

</plugin>
